{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
    <h1 id="product-description">Beer Donation Page 🍻</h1>
    <p>Choose the amount of beers you want to donate:</p>
    <p><small>Beer $50</small></p>

    <div class="buttons-container">
        <button id="donate-3">3 🍻</button>
        <button id="donate-5">5 🍻</button>
        <button id="donate-10">10 🍻</button>
    </div>

    <p>Or enter the amount of beers you want to donate:</p>
    <input type="number" id="amount-input" min="0" />
    <p>Total amount to pay: <span id="total-amount">0</span> $</p>

    <button id="checkout-btn">Checkout</button>
    <div id="wallet_container">

        <div id="button-checkout"></div>
     
    </div>
    
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="{% static 'index.js' %}"></script>
</body>
</html>
